<p>quarterly-candles-table works!</p>
<p>I'm {{valueFromService}}</p>

<table mat-table [dataSource]="dataSource">
	<ng-container matColumnDef="day">
		<th mat-header-cell *matHeaderCellDef>Day</th>
		<td mat-cell *matCellDef="let dm"> {{dm.day}} </td>
	</ng-container>
	<ng-container matColumnDef="periodEnd">
		<th mat-header-cell *matHeaderCellDef>Period End</th>
		<td mat-cell *matCellDef="let dm"> {{dm.periodEnd}} </td>
	</ng-container>
	<ng-container matColumnDef="periodEndInDayNo">
		<th mat-header-cell *matHeaderCellDef> # </th>
		<td mat-cell *matCellDef="let dm"> {{dm.periodEndInDayNo}} </td>
	</ng-container>
	<ng-container matColumnDef="open">
		<th mat-header-cell *matHeaderCellDef>Open</th>
		<td mat-cell *matCellDef="let dm"> {{dm.open}} </td>
	</ng-container>
	<ng-container matColumnDef="high">
		<th mat-header-cell *matHeaderCellDef>High</th>
		<td mat-cell *matCellDef="let dm"> {{dm.high}} </td>
	</ng-container>
	<ng-container matColumnDef="low">
		<th mat-header-cell *matHeaderCellDef>Low</th>
		<td mat-cell *matCellDef="let dm"> {{dm.low}} </td>
	</ng-container>
	<ng-container matColumnDef="close">
		<th mat-header-cell *matHeaderCellDef>Close</th>
		<td mat-cell *matCellDef="let dm"> {{dm.close}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></tr>
</table>
