<p>starter-spring works!</p>
<p>I'm {{valueFromService}}</p>

<starter-spring-new (onNewValue)="postDummyData($event)"></starter-spring-new>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let dm"> {{dm.id}} </td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef> Message </th>
    <td mat-cell *matCellDef="let dm"> {{dm.message}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></tr>
</table>
