* {
	margin: 0;
	padding: 0;
}

#board {
	position: relative;
	height: 920px;
	width: 1120px;
	background-color: #000000;
	/*
	background: url("../img/tharsis_v1.png") no-repeat center center;
	 */
}

canvas {
	position: absolute;
}

#canvas-candles {
	z-index: 3;
}

#canvas-gauges {
	z-index: 2;
}

#canvas-background {
	z-index: 1;
}

#game-left {
	width: 1100px;
}
